<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "ISO-8859-1" />
	<link href = "css/style.css" rel = "stylesheet"/>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<title>Aplikacja</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 top-offset text-center">
			<h3>Wygląda na to, że nie masz dostępu do tej części aplikacji</h3>
   			<button type="button" onclick="location.href='/dashboard'"  class="btn btn-outline-success">Strona główna</button>
		</div>
	</div>
</div>
</body>
</html>